  .container-wallet {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

  }
  
  .card-wallet {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .balance-wallet {
    font-size: 50px;
    text-align: center;
    margin: 20px 0;
  }
  
  .btn-wallet {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  